@mixin center-relative {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

@mixin circle($p, $bc) {
  padding: $p;
  border-radius: 100%;
  background-color: $bc;
}

@keyframes moveup {
  100% {
    transform: translateY(-5rem) translateX(-50%);
  }
}
@keyframes movedown {
  100% {
    transform: translateY(+5rem) translateX(-50%);
    opacity: 1;
  }
}

.fab__container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.4rem;

  .fab__main {
    @include circle(1.2rem, orange);

    .fab__related {
      @include center-relative();
      @include circle(0.4rem, brown);

      &-1 {
        @include center-relative();
        @include circle(0.7rem, grey);
        opacity: 0;
      }
      &-2 {
        @include center-relative();
        @include circle(0.7rem, grey);
        opacity: 0;
      }
      &-3 {
        @include center-relative();
        @include circle(0.7rem, grey);
        opacity: 0;
      }
    }
  }
}
