@mixin circle($p, $bc) {
  border-radius: 100%;
  padding: $p*1.5;
  background-color: $bc;
}

@mixin centered {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

.fab__container {
  position: absolute;
  bottom: 0;
  right: 0;

  .fab__button--large {
    @include circle(1.2rem, orange);
  }

  .fab__button--medium {
    @include circle(0.7rem, grey);
    @include centered();
    top: -8rem
  }

  .fab__button--small {
    @include circle(0.4rem, brown);
    @include centered();
    top: -2rem
  }
}
